@import url("rootvariables.css");

@media only screen and (max-width: 961px) {
    .terminal { display: none; }
    #terminalWrapper { display: none; }
    #cli-input { display: none; }
    #cli-input-paragraph { display: none; }
}

.terminal * { color: white; background-color: var(--terminal-background) }
#terminalWrapper { padding: 5px; width: 100vw; }

#cli-input-paragraph::before { content: '~'; }
#cli-input:focus { animation: caret-blink 1s infinite; }
#cli-input {
    color: inherit;
    font-size: inherit;
    font-family: inherit;

    border: none;
    outline: none;
    background-color: inherit;
    border: 1px solid var(--caret-box);
    width: 1ch;
}

